target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.kotlin

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Planilhas baixadas do S3 ###
# O Main.java baixa essas planilhas do bucket 17042026-safety em runtime.
# Não versionar, são dados brutos.
/data_idhm.xlsx
/idhm_municipios.xlsx
/indicadores_seguranca_publica.xlsx
/populacao_municipios_2025.xls
/populacao_federacao_2025.xls
/banco_seguranca_*.xlsx
/ocorrencia_mensal_criminal.xlsx
/estimativa_pop_indicadores_esp*.xlsx

### Logs ###
/logs/
